<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container"></div>
</div>
<div class="container">
   <div class="signin-links">
      <a href="/ta06/register">Register</a>
      <a href="/ta06/login">Login</a>
   </div>
   <p>Please Sign In</p>
</div>


</body>

</html>